
body{
    background-color: #EFF0F0;
    font-family: monospace;
}

    #header{
        overflow: hidden;
        height:150px;
        width:90%;
        margin: 10px auto 20px;
        text-align: center;
        border-bottom: 1px solid silver;
    }
        #header .parts-large{
            float: left;
            width:40%;
            padding-top: 30px;
        }
        #header .parts-small{
            float: left;
            width:20%;
            padding-top:10px;
        }
            #header .parts-small img{
                height:70px;
            }


    #container-candidats{
        width:100%;
        overflow:hidden;
    }
        #container-candidats .candidat{
            width:9%;
            float: left;
            margin-top:40px;
        }
            #container-candidats .candidat .inner{
                width:95%;
                margin:auto;
                background-color:white;
                text-align: center;
                padding-bottom: 30px;
            }
                #container-candidats .candidat .inner .image{
                    border-radius: 360px;
                    border:5px solid white;
                    height:50px;
                    margin-top:-30px;
                    margin-bottom: 15px;
                }
                #container-candidats .candidat .inner .name{
                    height:50px;
                }
                #container-candidats .candidat .inner .icon-twitter{
                    height:15px;
                }
                #container-candidats .candidat .inner .twitter{
                    margin-top:10px;
                    display: block;
                    font-size: 10px;
                    color: #598dca;
                    text-decoration: none;
                    margin-top:-3px;
                }
                #container-candidats .candidat .inner .number{
                    font-size:25px;
                    padding-top:15px;
                    border-top:1px solid rgb(230,230,230);
                    width:90%;
                    margin:15px auto 0;
                }
                #container-candidats .candidat .inner .label{
                    font-size: 11px;
                }
    #pie-charts{
        overflow: hidden;
        padding-bottom: 20px;
        width:90%;
        margin: 40px auto 0;
    }
        #pie-charts .pies{
            width:47%;
            height: 300px;
            float:left;
        }
            #pie-charts .pies:last-child{
                margin-left:6%;
            }
    #bars-hashtag{
        width:90%;
        margin: 0px auto 0px;
        height:400px;
    }
    #bars-nousje{
        width:90%;
        margin: 40px auto 0px;
        height:400px;
    }